.train{
    

    img{
        margin-top: 10px;
        width: 100%;
    }


}

.booking{
    h1{
        margin-top: 10px;
        font-weight: bold;
        font-size: x-large;
        
        
        text-align: center;
    }

}


.items {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 20px; /* Add space between buttons */
    
}

.items button {
    padding: 18px;
    margin: 20px; /* Adjusted to have consistent spacing */
    background-color: #7fa4cb; /* Blue background color */
    color: #FFFFFF; /* White text color */
    border: none; /* Remove default button border */
    border-radius: 10px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effects */
    width: 150px;
    font-weight: bold;
    color: #003064;
}

.items button:hover {
    background-color: #003064; /* Darker blue on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
    color: #ffffff;
}

.items button:active {
    background-color: #003064; /* Even darker blue when clicked */
    transform: scale(0.95); /* Slightly reduce the size when clicked */
}
